<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>List of APIs</title>
</head>
<body>
	<h1>List of APIs</h1>
	<ul>
		{% for api in apis %}
		<li><h3><a href="{{ api.url }}">{{ api.name }}</a></h3><a> <h4>"{{api.description}}"</h4> </a></li>
		{% endfor %}
	</ul>
    <form>
        <label for="input">Enter some text to use the third api:</label>
        <input type="text" id="input" name="input">
        <button type="button" onclick="concatenate()">Submit</button>
    </form>
    <script>
        function concatenate() {
            const input = document.getElementById("input").value;
            const baseUrl = "http://127.0.0.1:8000/tapi/top-res/";
            const url = baseUrl + input;
            window.location.href = url;
        }
    </script>
</body>
</html>